body {
  text-align: center;
  margin: 0;
  padding: 0;
  color: black;
  text-transform: uppercase;
  font-family: sans-serif;
  font-weight: 500;
  height: 100vh;
}

body .btn-bg {
  min-height: 100px;
  margin-top: 30px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.btn-bg {
  background: #f75674;
}
.container {
  max-width: 1180px;
  margin: 0 auto;
}
article {
  padding: 1em;
  background-color: #fff;
}
header,
footer {
  padding: 1em;
  padding-bottom: 20px;
  min-height: 80px;
}
.content {
  width: auto;
  height: auto;
  min-height: 200px;
  margin: 0 auto;
  background-color: #fff;
  padding: 1em 10em;
  font-size: 16px;
  max-width: 1000px;
}
header {
  grid-area: header;
  background-color: #ffd740;
}
footer {
  grid-area: footer;
}
.grid-wrapper {
  display: grid;
  grid-template-columns: 1fr 1fr ;
  grid-template-rows: auto;
  grid-template-areas: "left-half right-half";
}
.half-left {
  grid-area: left-half;
  padding: 1em 0 1em 10em;
}
.half-right {
  grid-area: right-half;
  padding: 1em 10em 1em 0;
}

@media screen and (max-width: 700px) {
  .grid-wrapper {
    display: block;
  }
  .left-half, .right-half {
    margin: 0px;
  }
  .content {
    padding: 1em;
  }
}

.collapseBar {
  border: 2px solid #50514f;
}

.card {
  margin-left: 20px;
}
